@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <AdminNavMenu />
    </div>

    <main>
        @* <div class="top-row ps-3 border-dark text-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <form class="d-flex" @onsubmit="SearchMovies">
                            <input class="form-control border border-dark me-2" type="text" @bind="searchTerm" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-light" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> *@
        <article class="content ps-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string searchTerm;

    private async Task SearchMovies()
    {
        NavigationManager.NavigateTo($"/search?searchTerm={searchTerm}");
    }

    [Inject]
    private NavigationManager NavigationManager { get; set; }
}
